body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2eeee;
    margin: 0;
}

.calculator {
    background-color: #2da5a5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(222, 214, 214, 0.1);
    padding: 20px;
    width: 280px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #f4ebeb;
}

button.operator {
    background-color: #ff9800;
    color: white;
}

button.operator:hover {
    background-color: #e68900;
}
